section.blogposts#blogposts

  each file in posts

    newSection.columnsCentered

      .col-1

          li
            a(href=" file.url ") file.title ].
            file.excerpt


    newSection.columnsCentered

      .col-1
