section.connect#connect
  .newSection.columnsCentered
    .title
      .col-1
        h2 Let's Connect!
  .newSection.columnsSpaced.networks
      .col-4
        a(href="https://ca.linkedin.com/in/nicyantzi")
          h2.linkedIn linkedIn
      .col-4
        a(href="https://github.com/nicyantzi")
          h2.github Github
      .col-4
        a(href="https://www.instagram.com/nicyantzi/")
          h2.instagram Instagram
      .col-4
        a(href="mailto:nic.yantzi@dal.ca")
          h2.email Email
