mixin nav-content()
  ul
    li: a(href="index.html") Home


.mobile-nav
  +nav-content()


header2
  .header-position

    h1.logo Nic Yantzi

    nav.site-nav
      +nav-content()

    a(href="mailto:nic.yantzi@dal.ca").email-link +Email Me

    .mobile-nav-toggle: span
