mixin nav-content()
  ul
    li: a(href="#welcome") Welcome
    li: a(href="#blogSample") My Blog
    li: a(href="#about") About Me
    li: a(href="#resume") Resume
    li: a(href="#projects") Projects
    li: a(href="#connect") Let's Connect

.mobile-nav
  +nav-content()


header
  .header-position

    h1.logo Nic Yantzi

    nav.site-nav
      +nav-content()

    a(href="mailto:nic.yantzi@dal.ca").email-link +Email Me

    .mobile-nav-toggle: span
