section.projects#projects
  .newSection.columnsCentered
    .col-1
      h1.title Projects
      h3.caption (viewable on #[a(href="https://github.com/nicyantzi") Github])



      ul

        li #[span This website] is built from scratch. I used PUG and SASS and developed my own #[a(href="https://github.com/nicyantzi/Simple-Website-Starter-Kit") website starter/development kit] using Gulp and BrowserSync.
        li #[span Artificial Intelligence Project]. Built an agent to compete against other students in my class using various AI techniques. Developed an evaluation function that was used to determine the state of a gameboard at various depths in a game tree using minimax and alpha-beta pruning. You can read my #[a(href="/assets/pdf/Yantzi_COMP424_HusFinalReport.pdf") project summary here].
        .hus_gameplan Gameplan
        li #[span Databases Project]. Built an Application using Eclipses Application Design Tools to query and update our group project database (PostgreSQL) containing various customers, employees, beers and transactions (both b2b and b2c).
