section.resume#resume
  .newSection.columnsCentered
    .col-2
      a(href="../pdf/Yantzi-Nic_Resume.pdf")
        h1.resumePic Resume
        p.caption Click for a PDF copy.
    .col-half
      .resumeHighlights
        h3.highlight Resume Highlights:
        ul
          li BSc Computer Science (Minor in Interdisciplinary Life Sciences), McGill University, 2016
          li Athlete with #[a(href="http://www.rowtopodium.ca/") Row to Podium], Canada's official talent identification and development program for rowing, 2014–2016
          li President, #[a(href="https://www.facebook.com/McGillCulinarySociety") McGill Culinary Society], 2014-2016
          li Member of the McGill Redmen Varsity Men's Basketball Team, 2011-2014
