section.resume#resume
  .newSection.columnsCentered
    .col-2
      a(href="assets/pdf/Yantzi-Nic_Resume.pdf")
        h1.resumePic Resume
        p.caption Click for a PDF copy.
    .col-half
      .resumeHighlights
        h3.highlight Resume Highlights:
        ul
          li Developed strong analytical aptitude and problem-solving skills while studying Computer Science, intent on helping businesses make smart, intelligent data-driven decisions
          li Demonstrated, and improved; grit, resilience, commitment, and time management skills as an elite athlete in multiple sports while balancing full time studies or working
          li Provided superior customer service for six months in a sales environment, effectively shared product knowledge and developed rapport with customers to consistently exceed monthly sales targets
