section.projects
  background: $background-color-five
  .title
    text-align: center
    padding-bottom: 0
    margin-bottom: 0

  .caption
    text-align: center
    padding: 0 0 10px 0

  ul
    li
      margin-bottom: 20px
      span
        font-size: 20px
        font-weight: bolder
        
  .hus_gameplan
    text-align: center
    +hide-text
    background:
      image: url(/assets/img/hus_gameplan.png)
      size: contain
      repeat: no-repeat
    height: 100px
