section.welcome

  section
    padding: 60px

  background:
    image: url(../img/nic.jpg)
    size: cover
    repeat: no-repeat
    position: center

  .home-lead
    padding: 60px 0
    color: $welcome-headline-color
